* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f6f8fc;
}

.title-pokedex {
  margin-left: 3px;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.content {
  padding: 0.5rem;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}

@media screen and (min-width: 889px) {
  .content {
    max-width: 889px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}

.pokemons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 992px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.pokemon {
  margin: 0.3rem;
  padding: 0.8rem 0.8rem;
  background-color: #49d0b0;
  color: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  flex-basis: 165px;
}

.pokemon__name {
  margin-bottom: 0.25rem;
}

.pokemon__number {
  color: #37927d;
  text-align: right;
  font-weight: bold;
  font-size: 0.75rem;
}

.pokemon__detail {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 0;
  justify-content: space-between;
}

.pokemon__types {
  margin-top: 0.3rem;
}

.pokemon__types__type {
  background-color: #61e1ca;
  padding: 0.125rem 0.25rem;
  margin-bottom: 0.25rem;
  border-radius: 1rem;
  font-size: 0.75rem;
}

.pokemon__detail img {
  max-width: 100%;
  height: 75px;
}
