.pokemons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon {
  margin: 0.3rem;
  padding: 0.8rem 0.8rem;
  background-color: #49d0b0;
  color: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  width: 179px;
  height: 180px;
}

.pokemon__name {
  margin-bottom: 0.25rem;
  text-transform: capitalize;
  font-size: 1.2rem;
}

.pokemon__number {
  text-align: right;
  font-weight: bold;
  font-size: 1rem;
}

.pokemon__detail {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  justify-content: space-between;
  gap: 3px;
  height: 100%;
}

.pokemon__types {
  margin-top: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pokemon__types__type {
  padding: 0.15rem 0.25rem;
  margin-bottom: 0.25rem;
  border-radius: 1rem;
  font-size: 0.75rem;
  box-shadow: inset 50px 50px 50px rgba(0, 0, 0, 0.097);
}

.pokemon__detail img {
  max-width: 100px;
  max-height: 100px;
  justify-self: baseline;
}

.bug {
  background-color: #8cb230;
  color: #fff;
}

.dark {
  background-color: #58575f;
  color: #fff;
}

.dragon {
  background-color: #0f6ac0;
  color: #fff;
}

.electric {
  background-color: #eed535;
  color: #000;
}

.fairy {
  background-color: #ed6ec7;
  color: #fff;
}

.fighting {
  background-color: #d04164;
  color: #fff;
}

.fire {
  background-color: #fd7d24;
  color: #fff;
}

.flying {
  background-color: #748fc9;
  color: #fff;
}

.ghost {
  background-color: #556aae;
  color: #fff;
}

.grass {
  background-color: #62b957;
  color: #fff;
}

.ground {
  background-color: #dd7748;
  color: #fff;
}

.ice {
  background-color: #61cec0;
  color: #fff;
}

.normal {
  background-color: #9da0aa;
  color: #fff;
}

.poison {
  background-color: #a552cc;
  color: #fff;
}

.psychic {
  background-color: #ea5d60;
  color: #fff;
}

.rock {
  background-color: #baab82;
  color: #fff;
}

.steel {
  background-color: #417d9a;
  color: #fff;
}

.water {
  background-color: #4a90da;
  color: #fff;
}
